.box_shadow_txtf sp {
    margin: 0px 10px;
}

@media only screen and (max-width: 600px) {
    .box_shadow_txtf {
        display: grid;
        margin-bottom: 181px !important;
    }

    .box_shadow_txtf sp {
        display: none;
    }
}

.box_shadow_txtf {
    margin-bottom: 135px;
}

.box_shadow_txtf span {
    margin: 0px 0px;
}





#buttons {
    position: fixed;
    overflow-x: scroll;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow-x: auto !important;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
    scroll-behavior: smooth;
    transition: margin-left 0.5s;
    -webkit-mask-image: -webkit-linear-gradient(left, transparent, transparent 0%, white 25%, white 80%, transparent 100%);
    mask-image: -webkit-linear-gradient(left, transparent, transparent 0%, white 10%, white 93%, transparent 100%);
    z-index: 333333;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: -webkit-fill-available;
}

#buttons a,
#buttons .adiv {
    scroll-snap-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 5px;
}

#buttons a i,
#buttons .adiv i {
    font-size: 40px !important;
    width: 60px;
    text-align: center;
    height: 60px;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#buttons a span,
#buttons .adiv span {
    padding-top: 10px;
    font-size: 13px !important;
}

hh_anim_start spj {
    width: -webkit-fill-available;
}

#buttons a,
#buttons .adiv {
    width: 150px !important;
    height: 150px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

#buttons a,
#buttons .adiv {
    display: grid !important;
    text-align: center !important;
    justify-content: center !important;
    justify-items: center;
    align-items: center !important;
    align-content: center;
}

#buttons {
    padding-block: 10px;
}

#buttons::-webkit-scrollbar {
    width: 4px;
    border-radius: 30px !important;
    height: 5px;
}

#buttons::-webkit-scrollbar-track {
    background: transparent;
}

#buttons::-webkit-scrollbar-thumb {
    background: white !important;
}

#buttons::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.href_a_span {
    display: unset !important;
    margin: 0px !important;
}

/* } */
@media only screen and (min-width: 700px) {
    #buttons {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 700px) {
    div#buttons {
        width: 80%;
        margin: auto;
    }
}



arr_bundle {
    /* position: fixed; */
    /* bottom: 0px; */
    display: inline-flex;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    /* bottom: unset; */
    z-index: 333333;
    opacity: 1;
    bottom: 0px;
    /* z-index: 333; */
    width: 80%;
    margin: auto;
    bottom: 0px;
}

arr_bundle .catascrollEchatTv {
    position: absolute;
    bottom: 0px;
    z-index: 33333333;
    color: white;
    font-size: 35px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    enable-background: new 0 0 512 512 !important;
    margin: 0px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0.7;
    padding: 4px;
    margin-bottom: 63px;
}

arr_bundle .catascrollEchatTv:hover {
    opacity: 1
}

arr_bundle .catascrollEchatTv_right {
    right: 10%;
}

#buttons a,
#buttons .adiv {
    padding: 4px 10px;
    border: 2px solid var(--cdn_white);
    color: var(--cdn_white);
    border-radius: 4px;
    margin: 0px 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 15px;
}

#buttons a .nnum,
#buttons .adiv .nnum {

    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent;
    border-left: 2px solid var(--hard_white);
    border-bottom: 2px solid var(--hard_white);
    padding: 0px 5px;
    font-size: 13px;
    border-bottom-left-radius: 6px;
    background: var(--primary_light);

}

#buttons a:hover,
#buttons .adiv:hover {
    background: var(--primary_light);
}

/* } */
#buttons .adiv {
    margin: 0px 5px !important;
}

hh_anim_start spjin #logo_backscr_img {
    background: transparent !important;
}

.iframe_mask {

    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    z-index: 1;
    /* -webkit-mask-image: url(/?mnps=image-s-mask);
    mask-image: url(/?mnps=image-s-mask);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover; */
    pointer-events: none !important;
}

#clavs grider_viewer {
    z-index: 1;
    background: transparent !important;
}

#clavs {
    background: white !important;
}

div#clavs {
    background: black !important;
}

iframe.iframe_mask {
    -webkit-mask-image: unset;
    mask-image: unset;
}

#clavs grider_viewer project p {
    background: var(--primary_light);
}

#clavs grider_viewer img,
#clavs grider_viewer div_hr {
    border-color: var(--primary_light);
}

p_open {
    opacity: 0;
    background: var(--black-trasparent-color);
}

#clavs grider_viewer .is_touch:hover p_open {
    top: 45px !important;
    opacity: 1;
}


#clavs grider_viewer project p span {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    enable-background: new 0 0 512 512 !important;
}

div_header {
    background: var(--primary_light);
}


iframe.iframe_mask {
    top: 0px !important;
}

#clavs iframe:not(.iframe_mask),
#clavs grider_viewer {
    top: 51px !important;
}

div_not {
    opacity: 0 !important;
}

div_not div_panel {
    background: var(--black-trasparent-color) !important;
}

div_not {
    margin-top: 6px;
}

div_not div_panel {
    padding-top: 10px !important;
}


* {
    box-sizing: border-box;
}

.contanct_frm input,
.contanct_frm select,
.contanct_frm textarea {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: transparent;
}

.contanct_frm input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contanct_frm input[type=submit]:hover {
    background-color: #45a049;
}

.contanct_frm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.contanct_frm {
    position: fixed;
    background: var(--black-trasparent-color);
    z-index: 3333;
    bottom: 10px;
    right: 10px;
    border-radius: 6px;
    width: 360px;
    min-width: 360px;
    max-width: 360px;
    height: 460px;
    min-height: 460px;
    max-height: 460px;
    overflow-y: scroll;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    enable-background: new 0 0 512 512 !important;
    transition: .3s;
    transform: translateX(150%);
}

.contanct_frm.open {
    transform: none;
}


.contanct_frm * {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
    enable-background: new 0 0 512 512 !important;
    color: white;
}

@media only screen and (max-width: 700px) {
    .contanct_frm {
        margin: auto;
        left: 10px;
        right: 10px;
        width: -webkit-fill-available;
        max-width: -webkit-fill-available;
        min-width: -webkit-fill-available;
    }
}

.contanct_frm {
    border: 2px solid var(--primary_light);
}

.contanct_frm h5 {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--primary_light);
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.contanct_frm {
    overflow: hidden;
}

.contanct_frm form {
    position: absolute;
    overflow-y: auto;
    bottom: 60px;
    top: 46px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    left: 0px;
    padding: 10px;
}

.contanct_frm i.closec {
    position: absolute;
    right: 10px;
}

body.open_f .contanct_frm,
body.open_f .contanct_frm * {
    transition: .3s !important;
}

body.open_f hh_anim_start spj {
    margin-top: 10px;
}

body.open_f .box_shadow_txtf,
body.open_f #buttons,
body.open_f arr_bundle {
    opacity: 0;
}

body.open_f .contanct_frm {
    background: transparent;
    bottom: 40px;
}

body.open_f h3 {
    font-size: 16px;
}

body.open_f #logo_backscr_img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

body.open_f hh_anim_start spjin p {
    bottom: 10px;
}

.contanct_frm input[type=submit] {
    background-color: var(--primary_light);
    border: 2px solid white;
}



body:not(.open_f) .contanct_frm {
    right: 0px;
    bottom: 0px;
    top: 0px;
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    max-height: -webkit-fill-available;
    border: 0px;
    border-radius: 0px;
    border-left: 2px solid var(--white);
}

.contanct_frm fotter {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    border-top: 2px solid var(--white);
    display: flex;
    justify-content: center;
}

.contanct_frm fotter button {
    background: var(--primary_light);
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 4px;
}


.contanct_frm h5 {
    border-color: white !important;
}

.contanct_frm iframe.iframe_mask {
    border: 0px;
    pointer-events: none;
    z-index: -1;
}


.contanct_frm h5 svg#logo_backscr_img {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 2px;
    left: 10px;
}

.contanct_frm i:not(.closec) {
    margin-right: 10px;
}



.contanct_frm * {
    transition: .3s !important;
}

.contanct_frm i:not(.closec) {
    margin-right: 10px;
}

.contanct_frm textarea {
    margin-bottom: 0px;
}

.contanct_frm:not(.cants) form {
    bottom: 0px !important;
}

.contanct_frm:not(.cants) fotter {
    transform: translateY(100px) !important;
}

.contanct_frm.cants fotter {
    transform: unset;
}

.contanct_frm i:not(.closec) {
    margin-right: 10px;
}

.contanct_frm textarea {
    margin-bottom: 0px;
}

.contanct_frm.open.cants {
    top: 125px;
    bottom: 40px;
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    max-height: -webkit-fill-available;
    border-color: white;
}



.contanct_frm.open.cants iframe {
    display: none !important;
}

.contanct_frm h5 svg {
    margin-bottom: 0px !important;
}

body.open_f .contanct_frm {

    bottom: 40px;
    top: 120px;
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    max-height: -webkit-fill-available;
    border-color: white;
}

body.open_f .contanct_frm iframe {
    display: none;
}

.contanct_frm input {
    padding-right: 42px;
}

i.input_icon {
    position: absolute;
    right: 11px;
    margin-top: 40px;
    font-size: 25px;
    pointer-events: none;
}

.contanct_frm label {
    margin-bottom: 0px;
}

body:not(.open_f) .contanct_frm.open.cants {
    top: 0px !important;
    bottom: 0px !important;
}


body:not(.open_f) .contanct_frm.open.cants iframe {
    display: unset !important;
}

.contanct_frm textarea {
    min-height: 150px;
}

.contanct_frm form p.msg {
    text-align: center;
    margin: auto;
}

.contanct_frm form p.msg span {
    text-decoration: underline !important;
}

.contanct_frm form.send_yes *:not(.msg, .msg>br, .msg>span, .msg>i) {
    display: none !important;
}

.contanct_frm form:not(.send_yes) .msg {
    display: none !important;
}

.contanct_frm form.send_yes {
    display: flex;
}

.contanct_frm form.send_yes .msg i {
    font-size: 50px;
}

/* __- */
grider_viewer.gridsH.grids.g_gallery {}


grider_viewer.gridsH.grids.g_gallery project p {
    display: none;
}


grider_viewer.gridsH.grids.g_gallery project {
    height: 228px !important;
    transform: none !important;
}

grider_viewer.gridsH.grids.g_gallery project img {
    top: 0px
}

grider_viewer.gridsH.grids.g_gallery project grider_box {
    height: 247px !important;
    bottom: unset !important;

    margin: 0px !important;
}

grider_viewer.gridsH.grids.g_gallery project p_open {
    display: none;
}

grider_viewer.g_gallery project img {
    border: 3px solid var(--primary_light) !important;
    border-radius: 5px !important;
    top: 0px !important;
}

grider_viewer.gridsH.grids.g_gallery project {
    line-height: 0px !important;
}

grider_viewer.g_gallery project fiv {
    top: 10px !important;
}

grider_viewer.g_gallery project fiv .bi-info-circle {
    margin-top: 2px !important;
    margin-left: 2px !important;
}

grider_viewer.g_gallery * {
    transition: .3s !important;
}

gridder_loader {
    position: fixed;
    z-index: 3333;
    left: 0px;
    top: 0px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    transition: .3s !important;
    pointer-events: none;
    opacity: 0;
}

gridder_loader img {
    width: 55px;
    height: 55px;
    display: block;
    margin: auto;
}

grider_viewer.gridsH.grids.g_gallery,
grider_viewer.gridsH.grids.g_gallery * {
    transition: .3s !important;
}

grider_viewer.gridsH.grids.g_gallery project {
    transform: scale(0);
}

grider_viewer.gridsH.grids.g_gallery project grider_box {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

grider_viewer.gridsH.grids.g_gallery project grider_box img {
    border-radius: 4px !important;
}

/* __- */
grider_viewer.gridsH.grids.g_gallery project grider_box {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

grider_viewer.gridsH.grids.g_gallery project grider_box img {
    border-radius: 4px !important;
}

#clavs grider_viewer.g_gallery project fiv {
    border-radius: 3px !important;
    width: 25px;
    height: 26px;
}

#clavs grider_viewer.g_gallery project fiv i.bi-fullscreen {
    font-size: 18px;
    margin-top: 3.5px;
    margin-left: 3.5px;
}

#clavs grider_viewer.g_gallery project fiv {
    background: rgb(0 0 0 / 52%);
    color: white;
}


iframe.blog_style {
    z-index: 1;
    background: rgb(255 255 255 / 36%) !important;
}

iframe.blog_style {
    background: transparent;
}

#clavs iframe:not(.iframe_mask) {
    transition: .3s !important;
}

.h5_div svg {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border-radius: 30px;
    border: 2px solid white;
    padding: 3px;
}
