* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
    overflow: hidden;
    cursor: none !important;
    text-decoration: none !important;
}

:root {
    --cdn_primary: #ffff;
    --btn-disable: #fff;
    --seo-color: #fff;
    --primary_light: #ffffff4f;
    --textshadow_media: 0px 0px 0px var(--cdn_white), 3px 3px 5px #00000047;
    --cdn_white: #333;
    --hard_white: #fff;
    --red: #b90808;
    --section-bg: #333;
    --green: #2e7d32;
    --header-a: #e6e6e6;
    --product-background: linear-gradient(45deg, #1b5e20, #10bf19);
    --ads-background: linear-gradient(45deg, rgb(148 31 148), #c55e05);
    --event-background: linear-gradient(45deg, rgb(148 31 148), #2196f3);
    --job-background: linear-gradient(45deg, rgb(148 31 148), #3f51b5);
    --black-trasparent-color: rgba(0, 0, 0, 0.639);
    --grid-image: url(/?url=source&sourcelogin=grid.svg);
    --shield-image: url(/?url=source&sourcelogin=shield.svg);
    --stars-25: #b32020;
    --stars-40: #FFD700;
    --stars-60: #d56617;
    --stars-75: var(--green);
}

hh_anim_start {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: white !important;
    margin: 0px !important;
    padding: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* opacity: 0; */
}

hh_anim_start #logo {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    /* opacity: 0; */
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    /* filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important; */
    /* -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important; */
}

hh_anim_start #logo_backscr {
    position: fixed;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

hh_anim_start spjin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

hh_anim_start spjin img,
hh_anim_start spjin #logo_backscr_img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    enable-background: new 0 0 512 512 !important;
    border-radius: 440px;
    background: var(--primary_light);
    padding: 8px;
    width: 80px;
    height: 80px;
    border: 3px solid var(--black-trasparent-color);
    margin-bottom: 25px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    pointer-events: none;
}

.activeBell {
    border-color: var(--primary_light) !important;
    padding: 0px !important;
    background: rgb(255 255 255 / 69%) !important;
}

hh_anim_start #logo {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

hh_anim_start spjin {
    display: -ms-grid;
    display: grid;
    margin: auto;
}

hh_anim_start spj {
    display: block;
    margin: auto;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
}

hh_anim_start #logo {
    width: 120px;
    height: 120px;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

hh_anim_start .Vjideo_sjpinner {
    display: block;
    margin: auto;
    position: unset;
}

.spjinActive .Vjideo_sjpinner {
    height: 0px;
    -webkit-transform: scale(0) !important;
    -ms-transform: scale(0) !important;
    transform: scale(0) !important;
}

.spjinActive #logo {
    -webkit-transform: unset !important;
    -ms-transform: unset !important;
    transform: unset !important;
}

hh_anim_start .Vjideo_sjpinner .path {
    filter: none !important;
    -webkit-filter: none !important;
}

hh_anim_start spjin p {
    position: fixed;
    display: -ms-grid;
    display: grid;
    left: 0px;
    width: 100% !important;
    margin: auto;
    bottom: 30px;
    text-align: center;
    color: var(--black-trasparent-color) !important;
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 3333;
    opacity: 1;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1)) !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1)) !important;
    enable-background: new 0 0 512 512 !important;
}

hh_anim_start .Vjideo_sjpinner .path {
    stroke: var(--black-trasparent-color) !important;
}

hh_anim_start .Vjideo_sjpinner {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1)) !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1)) !important;
    enable-background: new 0 0 512 512 !important;
}

.box_shadow {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    enable-background: new 0 0 512 512 !important;
}

.box_shadow_h {
    font-weight: 500;
    font-size: 13px;
}

#buttons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 15px;
}

#buttons a,
#buttons .adiv {
    padding: 4px 10px;
    border: 2px solid var(--cdn_white);
    color: var(--cdn_white);
    border-radius: 4px;
    margin: 0px 10px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 15px;
}

#buttons a:hover,
#buttons .adiv:hover {
    background: rgba(255 255 255 / 0.2);
    color: var(--cdn_primary);
}

#clavs {
    position: absolute;
    display: -ms-grid;
    display: grid;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: var(--cdn_white);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0;
}

.gridesr_filter {
    -webkit-filter: grayscale(1) blur(2px) !important;
    filter: grayscale(1) blur(2px) !important;
    pointer-events: none !important;
}

#clavs iframe,
#clavs grider_viewer {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: -webkit-fill-available;
    border: none;
    background: var(--cdn_primary);
    -webkit-transition: -webkit-filter .3s;
    transition: -webkit-filter .3s;
    -o-transition: filter .3s;
    transition: filter .3s;
    transition: filter .3s, -webkit-filter .3s;
    overflow: auto;
}

#clavs grider_viewer project {
    height: 264px;
    padding: 4px !important;
    margin: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    enable-background: new 0 0 512 512 !important;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.section_loadet_img {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    opacity: 1 !important
}

#clavs grider_viewer img,
#clavs grider_viewer div_hr {
    border-radius: 0px 0px 6px 6px !important;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 0px !important;
    -webkit-box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%), 0 1px 10px 0 rgb(0 0 0 / 10%) !important;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%), 0 1px 10px 0 rgb(0 0 0 / 10%) !important;
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    height: 220px;
    border: 3px solid var(--cdn_white);
    border-top: 0px;
    text-align: center;
}

#clavs grider_viewer project p {
    width: 100%;
    right: 0px;
    left: 0px;
    text-align: center;
    background: var(--cdn_white);
    color: var(--cdn_primary);
    border-radius: 10px 10px 0px 0px;
    /* position: absolute; */
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 5px 10px
}

svg.Vjideo_sjpinner {
    position: absolute;
    top: 10px;
    color: var(--cdn_primary);
    left: 0px;
    z-index: 3;
    margin: 0px;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
}

.Vjideo_sjpinner {
    -webkit-animation: vjideo_sjpinner_rotate 2s linear infinite;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    animation: vjideo_sjpinner_rotate 2s linear infinite;
    z-index: 23333333;
    position: fixed;
    top: 35px;
    left: 35px;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    pointer-events: none !important
}

.Vjideo_sjpinner .path {
    stroke: var(--cdn_primary);
    stroke-linecap: round;
    -webkit-animation: vjideo_sjpinner_dash 1.5s ease-in-out infinite;
    animation: vjideo_sjpinner_dash 1.5s ease-in-out infinite;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    enable-background: new 0 0 512 512 !important
}

@-webkit-keyframes vjideo_sjpinner_rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes vjideo_sjpinner_rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes vjideo_sjpinner_dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124
    }
}

@keyframes vjideo_sjpinner_dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124
    }
}

div_header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 51px;
    background: var(--cdn_white);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%), 0 6px 70px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%), 0 6px 70px 0 rgb(0 0 0 / 10%);
    z-index: 33;
}

div_header span {
    position: absolute;
    left: 50px;
    top: 12px;
    color: var(--cdn_primary);
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    right: 130px !important;
}

i#reaload_page {
    position: absolute;
    left: 13px;
    color: var(--cdn_primary);
    font-size: 24px;
    top: 8px;
}

.show {
    opacity: 1 !important;
    pointer-events: unset !important;
}

.hide {
    opacity: 0 !important;
    pointer-events: none !important;
}

btns_r {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: var(--cdn_primary);
    font-size: 24px;
    position: absolute;
    top: 7px;
    right: 13px;
}

btns_r i {
    padding: 0px 10px;
}

btns_r i:last-child {
    padding-right: 0px;
}

div#clavs #logo_backscr_img {
    border: 2px solid var(--cdn_primary);
    width: 36px;
    height: 36px;
    border-radius: 50px;
    padding: 4px;
    position: absolute;
    top: 7px;
    left: 7px;
}

div#clavs svg,
div#clavs i,
div#clavs span {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    enable-background: new 0 0 512 512 !important;
    -webkit-transition: .3s !important;
    -o-transition: .3s !important;
    transition: .3s !important;
}

div_header #logo_backscr_img {
    opacity: 0;
    pointer-events: none !important;
}

.ld_completeld_complete #logo_backscr_img {
    opacity: 1;
}

.ld_completeld_complete #reaload_page {
    left: 50px;
}

.ld_completeld_complete span {
    left: 85px;
}

.href_a_span {
    display: none;
}

@media only screen and (max-width: 600px) {
    #buttons {
        display: -ms-grid;
        display: grid;
        margin: 0px;
    }

    .hide_noy {
        display: none;
    }

    #buttons a,
    #buttons .adiv {
        margin: 10px auto;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }

    .href_a_span {
        display: block;
    }

    div_not div_panel {
        width: 90%;
    }

    info_box {
        left: 10px !important;
        right: 10px !important;
        bottom: 10px !important
    }

    pages page .page_header .row img {
        width: 150px;
        height: 100px;
    }
}

.F_bi_search {
    -webkit-transition: opacity .3s !important;
    -o-transition: opacity .3s !important;
    transition: opacity .3s !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

.ld_completeld_complete2 .F_bi_search {
    opacity: 1 !important;
    pointer-events: unset !important;
}

.href_a_span {
    margin-left: 5px;
}

#buttons a i,
#buttons .adiv i {
    width: 25px;
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f5f5f5;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 1000000000;
    -webkit-transition: -webkit-transform 0.2s !important;
    transition: -webkit-transform 0.2s !important;
    -o-transition: transform 0.2s !important;
    transition: transform 0.2s !important;
    transition: transform 0.2s, -webkit-transform 0.2s !important;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.1)
}

.cursor_pc_show {
    display: block !important
}

.cursor i {
    color: white;
}

div_not {
    position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    top: -150px;
    opacity: 0;
}

div_not div_panel {
    width: 350px;
    background: var(--cdn_white);
    display: -ms-grid;
    display: grid;
    margin: auto;
    text-align: center;
    color: var(--cdn_primary);
    -webkit-box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%), 0 6px 70px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 20%), 0 6px 70px 0 rgb(0 0 0 / 10%);
    padding: 10px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 15px;
}

btns {
    height: 45px;
    padding: 10px 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: right;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
    margin-right: 0px;
    margin: 10px auto;
}

btn1 {
    background: var(--cdn_primary);
    color: var(--cdn_white);
}

btns btn1,
btns btn2 {
    border: 2px solid var(--cdn_primary);
    border-radius: 4px;
    padding: 3px 10px;
    display: block;
}

btns btn2 {
    margin-left: 10px;
}

box_h {
    position: absolute;
    top: 0px;
    z-index: 3;
    background: transparent;
    width: 100%;
    left: 0px;
    height: 100%;
    display: none;
}

.grids {
    margin: 0px !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px !important
}

.grids {
    overflow: hidden;
    width: 100%
}

.grids>* {
    float: left;
    width: 16.666%;
    width: calc(100% / 6);
    width: -webkit-calc(100%/6);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.grids>div>img,
.grids>div>div_hr {
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

.grids>div {
    border: 1px solid var(--orange);
    border-top: none;
    border-left: none
}

.gridsH>* {
    width: calc(50% / 2) !important;
    width: -webkit-calc(50%/2)
}

@media (max-width: 640px) {
    .gridsH>* {
        width: calc(50% / 1) !important;
        width: -webkit-calc(50%/1)
    }
}

@media (max-width: 320px) {
    .gridsH>* {
        width: 100% !important
    }
}

.projets_f {
    height: 250px;
    padding: 4px !important;
    margin: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

grider_box {
    position: absolute;
    left: 4px;
    right: 4px;
    /* bottom: 4px; */
    top: 4px;
    height: 270px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
    enable-background: new 0 0 512 512 !important;
}

#clavs grider_viewer project p {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

#clavs grider_viewer project img {
    position: absolute;
    left: 0px;
    top: 34px;
    right: 0px;
    bottom: 0px;
}

div_header.ld_completeld_complete2 #reaload_page {
    opacity: 0;
    pointer-events: none;
}

div_header.ld_completeld_complete2 #logo_backscr_img {
    opacity: 1;
}

.ld_completeld_complete2 span {
    left: 54px !important;
    right: 135px !important;
}

/* .ld_completeld_complete2 btns_r .bi-share { opacity: 0; pointer-events: none;
} */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white !important;
}

p_open {
    position: absolute;
    top: -50px;
    left: 10px;
    text-align: center;
    right: 10px;
    background: var(--cdn_white);
    border-radius: 4px;
    padding: 5px 10px;
    z-index: 1;
    color: var(--cdn_primary);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

/* #clavs grider_viewer .is_touch:hover p_open {
    top: 45px !important;
} */

#canvas {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    -webkit-transition: .5s !important;
    -o-transition: .5s !important;
    transition: .5s !important;
}

hh_anim_start {
    background: transparent !important;
}

body {
    background-color: hsl(195, 100%, 7%) !important;
}

#canvas {
    margin: 0 auto;
    display: block;
    -webkit-filter: url('#shadowed-goo') blur(2px);
    filter: url('#shadowed-goo') blur(2px);
    pointer-events: none !important;
}

.low_GPU {
    -webkit-filter: blur(2px) !important;
    filter: blur(2px) !important;
}

hh_anim_start * {
    color: white !important;
    border-color: white !important;
}

.anchorTitle {
    border-radius: 6px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    enable-background: new 0 0 512 512 !important;
    background-color: rgb(85 85 85 / 0.5);
    border: solid 2px var(--cdn_primary);
    color: var(--cdn_primary);
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.3;
    max-width: 200px;
    padding: 7px 10px;
    z-index: 3333333;
    position: absolute;
    -webkit-filter: invert(1);
    filter: invert(1);
    top: unset !important;
    pointer-events: none;
    left: 10px !important;
    bottom: 10px !important;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
}

* html #anchorTitle {
    width: 200px;
}

#clavs grider_viewer project fiv {
    position: absolute;
    right: 10px;
    top: 39px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    enable-background: new 0 0 512 512 !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: var(--cdn_primary);
    width: 20px;
    text-align: center;
    height: 20px;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 40px;
    color: var(--cdn_white);
}

#clavs grider_viewer project fiv .bi-info-circle {
    display: block;
    margin: auto;
    margin-top: -1px;
}

info_box {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 333;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
}

info_box info_msg {
    background: var(--black-trasparent-color);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    border-radius: 6px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    enable-background: new 0 0 512 512 !important;
    padding: 5px 15px;
    width: 350px;
}

info_box info_msg img {
    width: 35px;
    height: 35px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 0px;
    margin-top: 10px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    enable-background: new 0 0 512 512 !important;
}

info_div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: var(--cdn_primary);
}

info_box info_msg h4 {
    padding-top: 16px;
    padding-left: 6px;
    position: absolute;
    left: 53px;
    right: 10px;
}

info_box info_msg {
    color: var(--cdn_primary);
}

info_box info_msg p,
info_box h4 {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.info_box_active {
    opacity: 1;
    pointer-events: unset;
}

.info_box_active {
    opacity: 1;
    pointer-events: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
}

dv_h {
    position: absolute;
    top: 0px;
    background: var(--cdn_primary);
    left: 0px;
    padding: 2px 0px;
    width: 80%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    enable-background: new 0 0 512 512 !important;
    border-bottom-right-radius: 30px;
}

p-c {
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.5;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    enable-background: new 0 0 512 512 !important;
    z-index: 3;
}

ul#btns_bottom {
    z-index: 33;
    background: rgb(255 255 255 / 0.2);
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 60px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style-type: none;
    color: var(--cdn_primary);
}

ul#btns_bottom li {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--section-bg);
    padding: 5px 10px !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    display: -ms-grid;
    display: grid;
}

ul#btns_bottom li span {
    display: inline-block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search_box {
    display: none;
}

.ld_completeld_complete_search .search_box {
    display: block;
}

.ld_completeld_complete_search btns_r {
    display: none;
}

btns_i {
    display: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    enable-background: new 0 0 512 512 !important;
}

btns_i {
    position: absolute;
    left: 50px;
    top: 0px;
    padding-top: 6px;
    right: 10px !important;
}

btns_i input[type="text"] {
    background: transparent;
    color: var(--cdn_primary);
    font-size: 15px;
    padding: 6px 5px;
    border: none;
    border-bottom: 2px solid var(--primary_light);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    left: 0px;
    right: 0px;
    padding-right: 30px;
    width: 100%;
}

btns_i input[type="text"]:focus {
    border-color: var(--cdn_primary);
}

.ld_completeld_complete_search span {
    opacity: 0;
}

.ld_completeld_complete2 {
    display: block;
}

btns_i input[type="text"] {
    background: transparent;
    color: var(--cdn_primary);
    font-size: 15px;
    padding: 6px 5px;
    border: none;
    border-bottom: 2px solid var(--primary_light);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding-right: 30px;
}

btns_i input[type="text"]:focus {
    border-color: var(--cdn_primary);
}

.ld_completeld_complete3 {
    display: block;
}

.ld_completeld_complete_search btns_i {
    display: flow-root;
}

.ld_completeld_complete_search btns_i i {
    position: absolute;
    right: 5px;
    z-index: 3;
    top: 10px;
    color: white;
}

.ld_completeld_complete_search btns_i i {
    padding: 0px 5px;
}

.ld_completeld_complete_search btns_i .bi-search {
    position: absolute;
    right: 35px;
}

.ld_completeld_complete_search btns_i i:last-child {
    padding-right: 0px;
}

::-moz-selection {
    color: var(--cdn_white);
    background: var(--cdn_primary);
}

::selection {
    color: var(--cdn_white);
    background: var(--cdn_primary);
}

.bodyUI {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    height: 100%;
    background: white !important;
    width: 100%;
}

.bodyUI canvas {
    position: unset !important;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    border-radius: 10px;
    max-width: 500px;
    width: 1700px !important;
    display: block !important;
    margin: auto !important;
    filter: url('#shadowed-goo') drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    -webkit-filter: url('#shadowed-goo') drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3)) !important;
    enable-background: new 0 0 512 512 !important;
}

pages {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3333;
    width: 100%;
    bottom: 0px;
    background: var(--black-trasparent-color);
    margin: 0px;
    padding: 0px;
}

.carousel-indicators li {
    background-color: var(--black-trasparent-color);
    width: 10px !important;
    border-radius: 40px !important;
    padding: 0px !important;
    background-clip: revert;
    height: 10px !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) !important;
    enable-background: new 0 0 512 512 !important;
    border: 0px !important;
}

div#carouselExampleIndicators,
.carousel-inner img {
    height: 350px;
}

.carousel-item img {
    -o-object-fit: contain;
    object-fit: contain;
}

div#carouselExampleIndicators {
    background: var(--black-trasparent-color);
    border-radius: 6px;
    margin: 15px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
}

.page_header {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)) !important;
    enable-background: new 0 0 512 512 !important;
    text-align: center;
    background: var(--black-trasparent-color);
    margin: 15px;
    border-radius: 6px;
    color: var(--white);
    width: auto;
    padding: 15px 15px;
}

pages {
    overflow: hidden;
}

pages page {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    /* height:100%; */
    bottom: 0px;
}

img.zoomImg {
    position: fixed !important;
    z-index: 3333333;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 1 !important;
    background: var(--black-trasparent-color);
}

.zoomContainer {
    position: fixed;
    z-index: 333333;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 1 !important;
}

.zoomContainer .zoomWindowContainer div

/* #zoomWindowContainer_img */
    {
    left: 10px !important;
    top: 10px !important;
    width: 100%;
    width: 100% !important;
    display: block !important;
    z-index: 3333 !important;
    height: 100% !important;
    position: fixed;
    float: unset !important;
    bottom: 0px !important;
    border: none;
    position: fixed !important;
    right: 10px !important;
    width: unset !important;
    bottom: 10px !important;
    height: unset !important;
    margin: 0px !important;
    padding: 2px !important;
    border-radius: 10px !important;
    border: 2px solid var(--primary_light) !important;
    /* background-position: center !important; */
    /* background-size: contain; */
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    enable-background: new 0 0 512 512 !important;
}

.zoomWindowContainer {
    position: fixed !important;
    left: 0px;
    top: 0px !important;
    background: var(--black-trasparent-color);
    width: 100%;
    height: 100% !important;
    width: 100% !important;
}

.zoomer_exit {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 333333;
    color: white;
    font-size: 25px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    enable-background: new 0 0 512 512 !important;
    background: var(--black-trasparent-color);
    width: 35px !important;
    height: 35px !important;
    padding: 0px 5.6px;
    border-radius: 6px;
}

#helper_id_helper {
    pointer-events: none !important;
    position: fixed;
    left: 20px;
    top: 20px;
    background: var(--black-trasparent-color);
    z-index: 333333;
    color: var(--white);
    padding: 5px 10px;
    border-radius: 6px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    enable-background: new 0 0 512 512 !important;
}

div#helper_id_helper3 {
    position: absolute;
    left: 20px;
    z-index: 33333;
    bottom: 30px;
    right: 20px;
    bottom: 20px;
    border-radius: 0px 0px 9px 9px !important;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    enable-background: new 0 0 512 512 !important;
    pointer-events: none !important;
}

div#helper_id_helper3 p {
    border-radius: 6px !important;
    background: var(--black-trasparent-color);
    color: var(--white);
    padding: 10px;
    display: block;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
}

/* // */
.page_header .row-0 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.page_header .col-sm-1 {
    width: 150px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.page_header .col-sm-2 {
    text-align: left !important;
}

.page_header .col-sm-2 * {
    margin-bottom: 4px;
}

.page_header .col-sm-2 h3 {
    font-size: 20px;
}

.page_header .col-sm-2 p {
    font-size: 13px;
}

/* // */
#buttons a .fa-deviantart {
    margin-bottom: -3px;
}

#blogNewsBtn {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 3 !important;
    color: var(--white);
    border: 2px solid var(--white);
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 10px;
    pointer-events: none !important;
}

.zoomContainer:not(:hover, :focus) * {
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    background-size: contain !important;
    background-position: center !important;
    margin: 0px !important;
    background-repeat: no-repeat !important;
}




@media only screen and (max-width: 600px) {
    .box_shadow_txtf sp {
        margin: 0px 10px;
    }

    .box_shadow_txtf {
        display: grid;
        margin-bottom: 181px;
    }

    .box_shadow_txtf span {
        margin: 0px 0px;
    }

    .box_shadow_txtf sp {
        display: none;
    }

    #buttons {
        position: fixed;
        overflow-x: scroll;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        overflow-x: auto !important;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        -webkit-transition: margin-left 0.5s;
        -o-transition: margin-left 0.5s;
        scroll-behavior: smooth;
        transition: margin-left 0.5s;
        -webkit-mask-image: -webkit-linear-gradient(left, transparent, transparent 0%, white 25%, white 80%, transparent 100%);
        mask-image: -webkit-linear-gradient(left, transparent, transparent 0%, white 10%, white 93%, transparent 100%);
        z-index: 333333;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: -webkit-fill-available;
    }

    #buttons a,
    #buttons .adiv {
        scroll-snap-align: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 10px;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        transition: -webkit-transform 0.5s;
        -webkit-transition: -webkit-transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
        position: relative;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0px 5px;
    }

    #buttons a i,
    #buttons .adiv i {
        font-size: 40px !important;
        width: 60px;
        text-align: center;
        height: 60px;
        margin: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #buttons a span,
    #buttons .adiv span {
        padding-top: 10px;
        font-size: 13px !important;
    }

    hh_anim_start spj {
        width: -webkit-fill-available;
    }

    #buttons a,
    #buttons .adiv {
        width: 150px !important;
        height: 150px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    #buttons a,
    #buttons .adiv  {
        display: grid !important;
        text-align: center !important;
        justify-content: center !important;
        justify-items: center;
        align-items: center !important;
        align-content: center;
    }

    #buttons {
        padding-block: 10px;
    }

    #buttons::-webkit-scrollbar {
        width: 4px;
        border-radius: 30px !important;
        height: 5px;
    }

    #buttons::-webkit-scrollbar-track {
        background: transparent;
    }

    #buttons::-webkit-scrollbar-thumb {
        background: white;
    }

    #buttons::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
}

  
 iframe.blog_style {
    z-index: 1;
    background: rgb(255 255 255 / 36%) !important;
}

iframe.blog_style {
    background: transparent;
}
 
 